.box{
    width: 100px;
    height: 100px;
    border:2px solid red;
}

.box-container{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;


}
.nai{
 padding: 10px;
}
.user{
    padding: 10px;
    border: 2px solid blueviolet;
    height: 200px;
    width: 150px;
    margin: 5px;
}
.user-data2{
    display: flex;
    justify-content: center;
}